/*a, u {
    text-decoration: none !important;
}*/

.page {
    padding: 0 10px 0 10px;
}
.header_top {
  height: 200px;
}

nav {
   width: 100%;
   top: 10px;
   z-index: 10;
}



div.uk-open {
    /*opacity: 0.9;*/
    padding: 5px;
    padding-left: 25px;
}

/* side menu */
#smenu {
    margin: 10px;
    color: white;
}
.side-menu_toggle {
  position: absolute;
}
#menu_bar-m {
  /*margin-left: 80px;*/
}

#menu_bar-s {
  /*margin-left: 30px;*/
}



.navbar_toggle {
  /*margin-top:-15px;*/
}

.sticky_toggle {
  background-color: rgba(33, 3, 9, 0.3);
  height: 80px;
}

.accordion_menu {
  right: 50px;
  position: fixed;
  top: 40px;
  padding: 15px;
  background-color: rgb(102, 13, 13);
  z-index: 1100;
}



.toc-active {
  background-color: #790f0f;
}

ul.toc>li {
  padding: 5px;
}
ul.toc>li:hover {
  background-color: #531212
}



/*#smenu:focus {
  background-image: none, url('../svg/fish.svg');
}*/

.shadows {
    /*border-radius: 100%;*/
    /*background-color: black;*/
    box-shadow: 0 0 1px 0 #f6f961;
}

.smaller {
  width: 80%;
  /*height: 80%;*/
}

li>a.reference {
    font-size: 14px;
}

.media_descr>p, .media_caption>p{
  margin: 0;
  padding: 5px
}
.uk-overlay {
  padding: 5px;
}

.uk-offcanvas-bar .uk-nav-default>li>a:hover {
    color: rgb(81, 147, 101);
}

.uk-offcanvas-bar .uk-nav-default>li>a {
    color: rgb(39, 1, 112);
}

.uk-navbar-dropdown {
    padding: 0;
    opacity: 1;
    /*top: 10px;*/
}

/*.uk-navbar-container:not(.uk-navbar-transparent) {
    background: -moz-linear-gradient(top, rgba(33, 3, 9, 1) 0%, rgba(33, 3, 9, 1) 63%, rgba(33, 3, 9, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(33, 3, 9, 1) 0%, rgba(33, 3, 9, 1) 63%, rgba(33, 3, 9, 0) 100%);
    background: linear-gradient(to bottom, rgba(33, 3, 9, 1) 0%, rgba(33, 3, 9, 1) 63%, rgba(33, 3, 9, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210309', endColorstr='#00210309', GradientType=0);
}*/

#container {}

#testo {
    margin-top: 200px;
}

blockquote {
    color: #f2efb8;
}

h1, h2, h3, h4, h5 {
    color: #e7d473;
}

h1 {
    margin: 0
}

a.toc-backref {
    color: #f1c222;
}

section {
    padding: 10px;
}

pre.code, :not(pre)>samp {
    background-color: #111;
}

div.admonition {
    background-color: #5a1919;
}

div.admonition p.admonition-title {
    background-color: #e6e1c6;
}
#lektor-edit-link {
  right: 30px;
}
