{% extends "layout.html" %}
{% from "macros/nav-menu.html" import  render_menu with context %}
{% block title %}{{ this.title }}{% endblock %}

{% block nav %}
  {{ render_menu() }}
{% endblock %}


{% block body %}

  <h2>{{ this.title }}</h2>
  <div class="projects">
  {% for gallery in this.children %}
    <div class="gallery">
      {% set image = gallery.attachments.images.first() %}
      {% if image %}
        <img src="{{ image.thumbnail(250)|url }}" alt="">
      {% endif %}
      <h2><a href="{{ gallery|url }}">{{ gallery.name }}</a>
    </div>
  {% endfor %}
  </div>

{% endblock %}
